<DOCTYPE html>
    <head>
        <title>Printable Zine</title>
        <style type="text/css">
         body {
             background: #eeeeee;
         }
         .paper {
             background: #ffffff;
             width: 11.1in;
             height: 8.5in;
             page-break-after: always;
         }

         .paper .left-half { width: 50%; float: left; }
         .paper .right-half { width: 50%; float: right; }

         .paper .left-half img { width: 100%; }
         .paper .right-half img { width: 100%; }

         .cf:before,
         .cf:after {
             content: " "; /* 1 */
             display: table; /* 2 */
         }

         .cf:after {
             clear: both;
         }

         @media print {
             .paper {
                 background: #ffffff;
                 width: 100%;
                 height: 8in;
             }

             .paper .left-half img { height: 95%; }
             .paper .right-half img { height: 95%; }
         }
        </style>
    </head>

    <body>
<div class='paper cf'>
	<div class='left-half END'> 		<!-- P1 S1 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-030.jpg'>
	</div>
	<div class='right-half BEGIN'> 		<!-- P1 S1 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-001.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half BEGIN'> 		<!-- P1 S2 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-002.jpg'>
	</div>
	<div class='right-half END'> 		<!-- P1 S2 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-029.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half END'> 		<!-- P2 S1 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-028.jpg'>
	</div>
	<div class='right-half BEGIN'> 		<!-- P2 S1 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-003.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half BEGIN'> 		<!-- P2 S2 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-004.jpg'>
	</div>
	<div class='right-half END'> 		<!-- P2 S2 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-027.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half END'> 		<!-- P3 S1 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-026.jpg'>
	</div>
	<div class='right-half BEGIN'> 		<!-- P3 S1 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-005.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half BEGIN'> 		<!-- P3 S2 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-006.jpg'>
	</div>
	<div class='right-half END'> 		<!-- P3 S2 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-025.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half END'> 		<!-- P4 S1 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-024.jpg'>
	</div>
	<div class='right-half BEGIN'> 		<!-- P4 S1 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-007.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half BEGIN'> 		<!-- P4 S2 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-008.jpg'>
	</div>
	<div class='right-half END'> 		<!-- P4 S2 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-023.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half END'> 		<!-- P5 S1 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-022.jpg'>
	</div>
	<div class='right-half BEGIN'> 		<!-- P5 S1 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-009.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half BEGIN'> 		<!-- P5 S2 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-010.jpg'>
	</div>
	<div class='right-half END'> 		<!-- P5 S2 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-021.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half END'> 		<!-- P6 S1 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-020.jpg'>
	</div>
	<div class='right-half BEGIN'> 		<!-- P6 S1 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-011.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half BEGIN'> 		<!-- P6 S2 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-012.jpg'>
	</div>
	<div class='right-half END'> 		<!-- P6 S2 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-019.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half END'> 		<!-- P7 S1 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-018.jpg'>
	</div>
	<div class='right-half BEGIN'> 		<!-- P7 S1 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-013.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half BEGIN'> 		<!-- P7 S2 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-014.jpg'>
	</div>
	<div class='right-half END'> 		<!-- P7 S2 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-017.jpg'>
	</div>
</div>
<div class='paper cf'>
	<div class='left-half END'> 		<!-- P8 S1 L --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-016.jpg'>
	</div>
	<div class='right-half BEGIN'> 		<!-- P8 S1 R --> 
		<img src='2019/Laadan Reader 1/pages/Laadan Reader 1 - Readable-page-015.jpg'>
	</div>
</div>

    </body>
