<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap" rel="stylesheet">

<style type="text/css">
  .card {
    width: 420px;
    height: 550px;
    border: solid 10px #aaa;
    border-radius: 15px;
    float:left;
    margin: 10px;
    position: relative;
    text-align: center;
  }
  
  .card .monster {
    width: 300px;
    height: 300px;
    border: solid 3px #aaa;
    margin: 10px auto;
    font-family: 'Handjet', cursive;
    position: relative;
  }
  
  .card .monster img {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .card .name {
    font-family: 'Handjet', cursive;
    font-size: 30pt;
  }
  
  .card .type {
    font-family: 'Handjet', cursive;
    font-size: 25pt;
  }
  
  .card .stats {
    font-family: 'Handjet', cursive;
    font-size: 25pt;
  }
  
  .card .credit {
    position: absolute;
    bottom: 0;
    font-family: monospace;
    font-size: 10pt;
    left: 5px;
  }
  
  .eyes { z-index: 100; }
  .mouth { z-index: 100; }
  .arm { z-index: 25; }
  .head { z-index: 75; }
  .body { z-index: 50; }
</style>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<script>
  $( document ).ready( function() {
    
    var typeCategory1 = [ 
      //"Magical", "Slimey", "Incontinent", "Excitable", "Squeaky", "Shiny", "Frustrated", "Bilingual", 
      //"Introverted", "Extroverted", "Spooky", "Lethargic", "Insecure", "Nacho-loving", "Confused", "Spoony"
      "Clumsy", "Bored", "Exuberant", "Jittery", "Odd", "Shy", "Puzzled", "Worried", "Weary", "Aloof", "Damp", "Embarrassed", "Fancy", "Giddy", "Hopeful", "Hungry", "Jaunty", "Juicy", "Peachy", "Merry", "Mean", "Muscular", "Oily", "Stinky"
    ];
    var typeCategory2 = [ 
      //"Fire", "Water", "Wind", "Earth", "Plant", "Bug", "Psychic", "Millennial", "ADHD", "Dragon", "Ghost",
      //"Bard", 
      "Volcanic", "Seamist", "Airy", "Carbon", "Stone", "Wraith", "Fuzzy", "GenZ", "Terran", "Thunder", "Disease", "Venom", "Boney"
    ];
    
    var namePatterns = [
      "CVCCVC", "CVVC", "CVCVVC", "CVCVCV", "VCCV", "VCVVC", "VCVCV",
      "VCCV", "CVC", "VCV", "VCVVCV", "CVCVC", "CVVC", "VCCV", "CVCVCVCV", "CVCCV", "CVVCVV", "CV", "VC"
    ];
    var consonants = [ "B", "C", "D", "F", "G", "H", "J", "K", "L", "M", "N", "P", "Q", "R", "S", "T", "V", "W", "X", "Z" ];
    var vowels = [ "A", "E", "I", "O", "U", "Y" ];
    
    var armCount = 10;
    var bodyCount = 7;
    var eyesCount = 11;
    var headCount = 9;
    var legCount = 9;
    var mouthCount = 7;
    var tailCount = 7;
    var assetPath = "assets-Set2/";
    
    function Rand( min, max ) {
      return Math.floor( Math.random() * ( max - min ) + min );
    }
    
    $( ".card" ).each( function( index ) {
      console.log( "This:", $( this ) );
      
      $( this ).find( ".monster" ).find( ".body"  ).attr( "src", assetPath + "body-" + Rand( 1, bodyCount ) + ".png" );
      $( this ).find( ".monster" ).find( ".head"  ).attr( "src", assetPath + "head-" + Rand( 1, headCount ) + ".png" );
      $( this ).find( ".monster" ).find( ".arm"   ).attr( "src", assetPath + "arms-" + Rand( 1, armCount ) + ".png" );
      $( this ).find( ".monster" ).find( ".eyes"  ).attr( "src", assetPath + "eyes-" + Rand( 1, eyesCount ) + ".png" );
      $( this ).find( ".monster" ).find( ".head"  ).attr( "src", assetPath + "head-" + Rand( 1, headCount ) + ".png" );
      $( this ).find( ".monster" ).find( ".leg"   ).attr( "src", assetPath + "legs-" + Rand( 1, legCount ) + ".png" );
      $( this ).find( ".monster" ).find( ".mouth" ).attr( "src", assetPath + "mouth-" + Rand( 1, mouthCount ) + ".png" );
      $( this ).find( ".monster" ).find( ".tail"  ).attr( "src", assetPath + "tail-" + Rand( 1, tailCount ) + ".png" );
      
      var HP = Rand( 80, 120 );
      var MP = Rand( 15, 25 );
      
      $( this ).find( ".stats" ).find( ".hp" ).html( HP + " HP" );
      $( this ).find( ".stats" ).find( ".mp" ).html( MP + " MP" );
      
      var type = typeCategory1[ Rand( 0, typeCategory1.length ) ] + " " + typeCategory2[ Rand( 0, typeCategory2.length ) ];
      $( this ).find( ".type" ).html( type + " Type" );
      
      var pattern = namePatterns[ Rand( 0, namePatterns.length ) ];
      var name = "";
      for ( var i = 0; i < pattern.length; i++ )
      {
        if ( pattern[i] == "C" ) {
          name += consonants[ Rand( 0, consonants.length ) ];
        }
        else {
          name += vowels[ Rand( 0, vowels.length ) ];
        }
      }
      
      $( this ).find( ".name" ).html( name );

    } );
    
  } );
</script>



<div class="card">
  <div class="monster">
    <img class="eyes">
    <img class="mouth">
    <img class="head">
    <img class="arm">
    <img class="body">
    <img class="tail">
    <img class="leg">
  </div>
  <div class="name">
    Name
  </div>
  <div class="type">
    Name
  </div>
  <div class="stats">
    <span class="hp">
      100 HP
    </span>
    <br>
    <span class="mp">
      20 MP
    </span>
  </div>
  <div class="credit">
    Random Monsters
    by R.W. Singh
    Moosadee.com
  </div>
</div>

<div class="card">
  <div class="monster">
    <img class="eyes">
    <img class="mouth">
    <img class="head">
    <img class="arm">
    <img class="body">
    <img class="tail">
    <img class="leg">
  </div>
  <div class="name">
    Name
  </div>
  <div class="type">
    Name
  </div>
  <div class="stats">
    <span class="hp">
      100 HP
    </span>
    <br>
    <span class="mp">
      20 MP
    </span>
  </div>
  <div class="credit">
    Random Monsters
    by R.W. Singh
    Moosadee.com
  </div>
</div>

<div class="card">
  <div class="monster">
    <img class="eyes">
    <img class="mouth">
    <img class="head">
    <img class="arm">
    <img class="body">
    <img class="tail">
    <img class="leg">
  </div>
  <div class="name">
    Name
  </div>
  <div class="type">
    Name
  </div>
  <div class="stats">
    <span class="hp">
      100 HP
    </span>
    <br>
    <span class="mp">
      20 MP
    </span>
  </div>
  <div class="credit">
    Random Monsters
    by R.W. Singh
    Moosadee.com
  </div>
</div>



<div class="card">
  <div class="monster">
    <img class="eyes">
    <img class="mouth">
    <img class="head">
    <img class="arm">
    <img class="body">
    <img class="tail">
    <img class="leg">
  </div>
  <div class="name">
    Name
  </div>
  <div class="type">
    Name
  </div>
  <div class="stats">
    <span class="hp">
      100 HP
    </span>
    <br>
    <span class="mp">
      20 MP
    </span>
  </div>
  <div class="credit">
    Random Monsters
    by R.W. Singh
    Moosadee.com
  </div>
</div>

<div class="card">
  <div class="monster">
    <img class="eyes">
    <img class="mouth">
    <img class="head">
    <img class="arm">
    <img class="body">
    <img class="tail">
    <img class="leg">
  </div>
  <div class="name">
    Name
  </div>
  <div class="type">
    Name
  </div>
  <div class="stats">
    <span class="hp">
      100 HP
    </span>
    <br>
    <span class="mp">
      20 MP
    </span>
  </div>
  <div class="credit">
    Random Monsters
    by R.W. Singh
    Moosadee.com
  </div>
</div>

<div class="card">
  <div class="monster">
    <img class="eyes">
    <img class="mouth">
    <img class="head">
    <img class="arm">
    <img class="body">
    <img class="tail">
    <img class="leg">
  </div>
  <div class="name">
    Name
  </div>
  <div class="type">
    Name
  </div>
  <div class="stats">
    <span class="hp">
      100 HP
    </span>
    <br>
    <span class="mp">
      20 MP
    </span>
  </div>
  <div class="credit">
    Random Monsters
    by R.W. Singh
    Moosadee.com
  </div>
</div>





<div class="card">
  <div class="monster">
    <img class="eyes">
    <img class="mouth">
    <img class="head">
    <img class="arm">
    <img class="body">
    <img class="tail">
    <img class="leg">
  </div>
  <div class="name">
    Name
  </div>
  <div class="type">
    Name
  </div>
  <div class="stats">
    <span class="hp">
      100 HP
    </span>
    <br>
    <span class="mp">
      20 MP
    </span>
  </div>
  <div class="credit">
    Random Monsters
    by R.W. Singh
    Moosadee.com
  </div>
</div>

<div class="card">
  <div class="monster">
    <img class="eyes">
    <img class="mouth">
    <img class="head">
    <img class="arm">
    <img class="body">
    <img class="tail">
    <img class="leg">
  </div>
  <div class="name">
    Name
  </div>
  <div class="type">
    Name
  </div>
  <div class="stats">
    <span class="hp">
      100 HP
    </span>
    <br>
    <span class="mp">
      20 MP
    </span>
  </div>
  <div class="credit">
    Random Monsters
    by R.W. Singh
    Moosadee.com
  </div>
</div>

<div class="card">
  <div class="monster">
    <img class="eyes">
    <img class="mouth">
    <img class="head">
    <img class="arm">
    <img class="body">
    <img class="tail">
    <img class="leg">
  </div>
  <div class="name">
    Name
  </div>
  <div class="type">
    Name
  </div>
  <div class="stats">
    <span class="hp">
      100 HP
    </span>
    <br>
    <span class="mp">
      20 MP
    </span>
  </div>
  <div class="credit">
    Random Monsters
    by R.W. Singh
    Moosadee.com
  </div>
</div>






